<div nav-directive purCat='1'></div>
</br>
<div class="container">
	<div class="row col-sm-6">
		<div class="card" style="width: 100%">
		  <div class="card-header">
		    Add Purchase category
		  </div>
		  <div class="card-block" >
		    <form>
			    <div class="form-group row">
			      <label for="purchaseCat" class="col-sm-4 col-form-label"><p translate> Purchase category </p></label>
			      <div class="col-sm-8">
			        <input  class="form-control" id="purchaseCat" placeholder="Purchase category" ng-model="purchaseCat.catName">
			      </div>
			    </div>
			    <div class="form-group row">
			      <label for="description" class="col-sm-4  col-form-label">Description</label>
			      <div class="col-sm-8">
			        <input  class="form-control" id="description" placeholder="Description" ng-model="purchaseCat.description">
			      </div>
			    </div>
			    
			    <div class="form-group row">
			      <div class="offset-sm-2 col-sm-10">
			        <button type="submit" class="btn btn-primary" ng-click="addPurchase()">Add purchase caterogy</button>
			      </div>
			    </div>
			  </form>
		  </div>
		</div>
	</div>
</div>


