.subscribe-from{
    padding-left:400px;
    padding-right: 400px;
    padding-top: 50px;
}

.subscriptionBox {
  max-width:  90%;
  width: 500px;
  margin-left: 600px;
}

.stretch input  {
  width: 100%
}

.subscribe-form {
  margin-top: 0px;
  padding-top: 5%;
}

.width-md-input-container{
  width:100%;
}