<div class="modal-content">
  <div class="modal-header">
      <h3 class="modal-title">{{modalEditTitle}}</h3>
  </div>
  <form ng-submit="save()">
    <div class="modal-body">
        <div ng-repeat="field in schema" style="width:100%">
          <div class="md-block" ng-if="field.type == 'autocomplete'" style="width:100%">
            <md-autocomplete style="width: 100%"
                  md-selected-item="selectedItem"
                  md-search-text-change="searchTextChange(searchItem)"
                  md-search-text="searchItem"
                  md-selected-item-change="selectedItemChange(item)"
                  md-items="item in querySearch(searchItem)"
                  md-item-text="item[dataToFilterOn['dataToDisplay']]"
                  md-min-length="0"
                  placeholder="Purchase Category">
              <md-item-template>
                <span md-highlight-text="searchItem" md-highlight-flags="^i">{{item[dataToFilterOn['dataToDisplay']]}}</span>
              </md-item-template>
              <md-not-found>
                No Purchase Category matching "{{searchItem}}" were found.
                <!--a ng-click="createNewPurchaseCat(searchItem)">Create a new one!</a-->
              </md-not-found>
                 
            </md-autocomplete>
          </div>
          </br>
          <md-input-container class="md-block" flex-gt-sm ng-if="field.type == 'string' || field.type == 'Date' || field.type == 'number'">
            <label ng-if="field.type == 'string' || field.type == 'Date' || field.type == 'number'">{{field.title}}</label>
            



            <input ng-model="entity[field.id]" ng-if="field.type == 'string' && field.required" required>
            <input ng-model="entity[field.id]" ng-if="field.type == 'string' && (field.required == undefined || field.required == false)">
            <md-datepicker ng-model="entity[field.id]" ng-if="field.type == 'Date' && field.required" required></md-datepicker>
            <md-datepicker ng-model="entity[field.id]" ng-if="field.type == 'Date' && (field.required == undefined || field.required == false)"></md-datepicker>
            <input ng-model="entity[field.id]" type="number" step="0.01" ng-if="field.type == 'number' && field.required" required>
            <input ng-model="entity[field.id]" type="number" step="0.01" ng-if="field.type == 'number' && (field.required == undefined || field.required == false)">
          </md-input-container ng-if="field.type == 'string' || field.type == 'Date' || field.type == 'number'">
       </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>
    </div>
  </form>
</div>
