<div class="container">   
    <form name="signUpForm" class="form-signin center" ng-submit="signUp()">
        <!--<h2 class="form-signin-heading">Please sign in</h2>-->
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input ng-model="user.firstName" class="form-control" placeholder="First Name" required autofocus>
        <label for="inputName" class="sr-only">Name</label>
        <input ng-model="user.login" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" ng-model="user.login" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <div role="alert">
          <span class="error" ng-show="loginForm.inputEmail.$error.required">
            Required!</span>
          <span class="error" ng-show="loginForm.inputEmail.$error.email">
            Not valid email!</span>
        </div>
        <!--<div ng-messages="loginForm.inputEmail.$error" style="color:maroon" role="alert">
          <div ng-message="required">yahia ammar please</div>
        </div>-->


        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model ="user.password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div><a>Not Yet a member ?</a></center>
       
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        
      </form>    
</div>